/* common styles */
.font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }

  *{
    margin: 0 auto;
    padding: 0;
    
  }
/*Nabar Section*/
.nav-container{
  display: flex;
  justify-content: space-around;
  max-width: 1600px;
  align-items: center;
}

 .list{
  display: flex;
  gap: 32px;
  list-style: none;
color: #000000;}


  .list li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
  }

  .btn{
    padding: 12.5px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600px;
  }