/* common styles */
.font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }

  *{
    margin: 0 ;
    padding: 0;
    
  }
/*Nabar Section*/
.nav-container{
  display: flex;
  justify-content: space-around;
  max-width: 1600px;
  align-items: center;

}

 .list{
  display: flex;
  gap: 32px;
  list-style: none;
color: #000000;}


  .list li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
  }

  .btn{
    padding: 12.5px 16px;
    background-color: rgb(70 145 101);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600px;
  }

  /*Banner Section*/
.banner-section{
     background-image: url(./hero-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
    
} 

.banner-text{


  text-align: center;
  padding: 115.5px 120px 179.5px 120px;
 
}

.banner-text span{
  background-color: #FFFFFF;
  color: #30B868;
  padding: 8px 12px 8px 34px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
}

.boldtext-1{color: #FFFFFF;
margin-top: 16px; }
.para{
  color: #FFFFFF;
}
.boldtext-2{
  color: #30B868;
  margin-bottom: 16px;
}

.btn-container
{
  display: flex;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
  text-align: center;
}
#button-1{
     display: flex;
     padding: 12.5px 16px;
     background-color: rgb(70 145 101);
     color: #FFFFFF;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-weight: 600px;
     gap: 10px;
}
#button-1 img{
  width: 20px;
  height: 20px;
}
 #button-2{
  border: 1px solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  padding: 12.5px 16px;
  border-radius: 5px;
}

/*note section*/
.notes-section{
  padding: 48px 120px 0px 120px;

  text-align: center;
}
.notes-section h1{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.notes-section p{
  color: #627382;
  font-size: 16px;
 
}
.box-container{
  display: flex;
  text-align: center;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}

.box-1,.box-2,.box-3,.box-4{
  padding: 70px 24px 60px 24px;
  border-radius: 10px;
  box-shadow:0 6px 50px #d3cdc659;
  width: 322px;
  height: 250px;
  text-align: center;
  justify-content: center;
}

.card-container h1{
  font-size: 24px;
  font-weight: 600;
}

.card-container img{
  background-color: #F95555;
  border-radius: 50%;
  padding: 14px;
}

/*brain-section*/

.brain-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 120px;
  margin: 0 auto;
}
.brain-container img{
  height: 600px;
  width: 600px;
}
#head{
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  margin-bottom: 16px;
}

.brain-container h1{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.brain-container p{
 color:#627382 ; 
 font-size: 16px;
 margin-bottom: 40px;
}

.brain-container li{
  font-weight: 500;
  font-size: 16px;
  list-style: none;
}

.list-style{
  display: flex;
}
.list-style img{
  width: 20px;height: 20px;
}
